.g-mnc {
  .m-postlst {

  }
  .m-pager {
	padding: 0 0 50px;
	font-size: 16px;
	text-align: center;
	color: #56AAC3;
	.prev {
	  float: left;
	  cursor: pointer;
	}
	.next {
	  float: right;
	  cursor: pointer;
	}
	.num {
	  color: #666666;
	}
  }

}
